<div class="modal" *ngIf="isShow">
  <div>
    <h2>I am a Modal</h2>
    <Button (click)="handleButtonClick()">❌</Button>
  </div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic pariatur assumenda accusamus fugit rem ea sapiente eius eveniet cupiditate, odit animi inventore reprehenderit maiores corporis, at culpa architecto vel placeat dolores laboriosam delectus quaerat ab! Iure voluptatibus optio ipsam porro quam est illo iste, laudantium consequatur repellat voluptas voluptatem? Accusamus, sit.</p>
</div>

<button (click)="handleClick()">Click me to Show</button>


<!-- if...else -->
 <!-- if the guy is admin  isAdmin=true welcome to admin logic -->
 <div *ngIf="isAdmin then name1 else name2">
  
 </div>
<!-- If the guy is not admin i.e isAdmin=false create dummy/temporary div called ng-template dummy data will not come to screen unless and until you specify-->

<!-- in angular,you can give names to any block called template reference variable # store it like unique value -->
 <ng-template #name1>
  <h1>Welcome to admin</h1>
 </ng-template>

 <ng-template #name2>
  <h1>Welcome to parents</h1>
 </ng-template> 