.modal{
    height: max-content;
    width: 500px;
    padding: 20px;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: antiquewhite;
}
.modal div{
    display:flex;
    justify-content: space-between;
}