.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product{
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.dark{
    background-color: cadetblue;
}
.light{
    background-color: cornsilk;
}